*{
	margin: 0;
	padding: 0;
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-family: 'Raleway', sans-serif;
}

body{
		background: #ffffe6;
}

.header{
	min-height: 10vh;
	width: 100%;
	background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("source_files/bg.jpeg");
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

nav img{
    width: 150px;
    height: 150px;
    background: transparent;
}

.nav_links{
    flex: 1;
    text-align: right;
}

.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav_links ul li a{
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}

.nav_links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;   
    transition: 0.45s; 
}

.nav_links ul li:hover::after{
    width: 100%;
}

/* for toggle option*/
nav .fa{
  display: none;
}

/* nav_links for phone response */
@media screen and (max-width: 700px){
	
.text_box h1{
	font-size: 30px;
}

nav img{
	width: 150px;
	height: 150px;
	margin-left: 85px;
}
	
		/* for menu bar */
.nav_links ul li{
	display: block;
	}
	
.nav_links{
	position: fixed;
	background: linear-gradient(rgba(212, 141, 34), rgba(212, 141, 34));
	height: 100vh;
	width: 200px;
	top: 0;
	right: -200px;
	text-align: left;
	z-index: 2;
	transition: 1s;
	}
	
	/* for toggle options*/
nav .fa{
	display: block;
	color: #fff;
	margin: 30px;
	font-size: 22px;
	cursor: pointer;
	}
	
	#menuOpen{
		margin-top: -53px;
		margin-right: -2px;
	}
	
.nav_links ul{
	padding: 0 20px 0 40px;
	}
}


/* about us*/
.about-us{
	width: 80%;
	padding-left: 9%;
	text-align: justify;
	justify-content: space-between;
}

.about-us h1{
	text-align: center;
	padding-top: 5%;
}




/* social media links */
.social_links{
			margin: auto;
			text-align: center;
			padding-top: 100px;
}

.social_links p{
			font-size: 14px;
}

.icons .fa{
			margin: 0 20px;
}

.icons #facebook{
			color: #4267B2;
}

.icons #instagram{
			color: #FB3958;
}

.icons #twitter{
			color: #1DA1F2;
}

.icons #linkedin{
			color: #0e76a8;
}

@media screen and (max-width: 700px){
	
			.social_links p{
			font-size: 14px;
		}
			
			.icons .fa{
					font-size: 30px;
			}
}

/* COPYRIGHTS */
.copyright{
			margin: auto;
			text-align: center;
			padding-top: 50px;
}

.signature{
			font-family: 'Architects Daughter', cursive;
}

.signature p{
			font-size: 15px;
}

.signature .fa{
			color: white;
			background: red;
}